<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/" />
@* Blazor Template ToDo: Merge with Goodtocode.com HTML assets *@
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="GoodToCode.com.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
@* From Goodtocode.com HTML site - ToDo: Pull from CDN to local *@
    <link href="css/font-opensans.css" rel="stylesheet">
    <link href="css/font-poppins.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
@* SEO *@    
    <meta name="description" content="Contributing to the Azure, .NET and Power Platform community">
    <meta name="author" content="@@goodtocode">
    <meta property="og:site_name" content="GoodToCode" />
    <meta property="og:site" content="https://www.goodtocode.com" />
    <meta property="og:title" content="@@goodtocode" />
    <meta property="og:description" content="Contributing to the Azure, .NET and Power Platform community" />
    <meta property="og:image" content="./images/goodtocode/GoodToCode-Icon-64x64-White.png" />
    <meta property="og:url" content="https://www.goodtocode.com" />
    <meta property="og:type" content="article" />
    <title>@@goodtocode</title>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
