@page "/"

<PageTitle>Home</PageTitle>

<!-- Areas -->
<div id="areas" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="services-container">
                    <div class="services-icon">
                        <img class="img-fluid" src="images/icons/icon-diamond.svg" alt="Data Analytics">
                    </div>
                    <div class="services-text">
                        <h2>ANALYTICS</h2>
                        <p>Data Lakes, Data Marts, Self-serve Power BIrReporting and Power Automate workflows</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-container">
                    <div class="services-icon">
                        <img class="img-fluid" src="images/icons/icon-rocket.svg" alt="alternative">
                    </div>
                    <div class="services-text">
                        <h2>DEVOPS</h2>
                        <p>GitHub, Azure DevOps, Azure Resource Manager (ARM), NuGet and NPM</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="services-container">
                    <div class="services-icon">
                        <img class="img-fluid" src="images/icons/icon-heart.svg" alt="alternative">
                    </div>
                    <div class="services-text">
                        <h2>AZURE</h2>
                        <p>Enterprise-Scale Architecture, Cloud Adoption Framework, Durable Task Framework</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-container">
                    <div class="services-icon">
                        <img class="img-fluid" src="images/icons/icon-play.svg" alt="alternative">
                    </div>
                    <div class="services-text">
                        <h2>.NET</h2>
                        <p>DDD, Microservices, Event Sourcing, Clean Architecture</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="azure" class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h2>GoodToCode.Azure</h2>
                    <p>Azure ARM Templates (JSON) | Azure DevOps Pipelines, Steps and Variables (YAML)</p>
                    <div class="github-card" data-github="goodtocode/azure-arm" data-width="500" data-height="" data-theme="default"></div>
                    <br />
                    <div class="github-card" data-github="goodtocode/azure-devops" data-width="500" data-height="" data-theme="default"></div>
                    <a class="btn-solid-reg" target="_blank" href="https://github.com/goodtocode/analytics">REPOSITORY</a>
                    <a class="btn-outline-reg page-scroll" href="#contact">CONTACT</a>
                </div>
                <div class="image-container">
                    <img class="img-fluid" src="images/details-1.jpg" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="analytics" class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="image-container">
                    <img class="img-fluid" src="images/details-2.jpg" alt="alternative">
                </div>
                <div class="text-container">
                    <h2>GoodToCode.Analytics</h2>
                    <p>A simple .NET library supporting common tasks often performed in Data Analytics.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Ingress Excel files to Azure Storage Tables</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Azure Cognitive Services for Text Analytics</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Excel and Azure Storage Table filtering based on plain-english query rules</div>
                        </li>
                    </ul>
                    <div class="github-card" data-github="goodtocode/analytics" data-width="500" data-height="" data-theme="default"></div>
                    <br />
                    <a class="btn-solid-reg" target="_blank" href="https://github.com/goodtocode/analytics">REPOSITORY</a>
                    <a class="btn-outline-reg page-scroll" href="#contact">CONTACT</a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end of basic-3 -->
<!-- Contact -->
<div id="contact" class="form-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-5 left-wrapper">
                <div class="text-container">
                    <h2>CONTACT DETAILS</h2>
                    <div class="contact-container">
                        <div class="contact-icon">
                            <img class="img-fluid" src="images/contact-icon-pin.svg" alt="alternative">
                        </div>
                        <div class="contact-text">
                            <div>
                                Orange County, California, USA
                                <br>(UTC-8:00) Pacific Time
                            </div>
                        </div>
                    </div>
                    <div class="contact-container">
                        <div class="contact-icon">
                            <img class="img-fluid" src="images/contact-icon-smartphone.svg" alt="alternative">
                        </div>
                        <div class="contact-text">
                            <div>
                                Twitter: <a class="white no-line" href="https://twitter.com/goodtocode">@@gooodtocode</a>
                                <br>LinkedIn: <a class="white no-line" href="https://www.linkedin.com/in/robertjgood/">robertjgood</a>
                            </div>
                        </div>
                    </div>
                    <div class="contact-container">
                        <div class="contact-icon">
                            <img class="img-fluid" src="images/contact-icon-mail.svg" alt="alternative">
                        </div>
                        <div class="contact-text">
                            <div>
                                <a class="white no-line" href="mailto:robert.good@goodtocode.com">robert.good@goodtocode.com</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-7 right-wrapper">
                <div class="form-container">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Name</label>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Your message</label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end of form-1 -->
<!-- Footer -->
<div class="copyright bg-gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <p class="p-small">Copyright © GoodToCode</p>
            </div>
            <div class="col-lg-6">
                <a href="https://twitter.com/goodtocode/">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/in/robertjgood/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</div> <!-- end of footer -->
